.link-basket {
    color:   #800000;
    text-decoration: none;
}

.link-basket:hover {
    color: #437085;
}

.card-img {
    min-width: 0px;
    max-width: 100%;
    height: auto;
    width: 250px;
}