.home {
    padding-bottom: 20px;
}

.title{
    padding: 20px;
    text-align: center;
    color: rgb(16, 45, 70);
}

.home-img {
    display: block;
    min-width: 0px;
    max-width: 100%;
    height: auto;
    width: 1000px;
    margin: 0 auto;
}